*,
*::before, 
*::after {
    box-sizing: border-box;
}

/* * {
    border: 1px solid ;
} */

body {
    margin: 0;
    font-family: 'Nato Sans JP', sans-serif;
}

img {
    max-width: 100%;
    /* height: auto; */
    display: block;
}

h1, h2, h3, p {
    margin: 0;
}

section {
    padding: 7em 0;
}

.container {
    width: 85%;
    margin: 0 auto;
    max-width: 65em;
}

.split {
    display: flex;
    flex-wrap: wrap;
    gap: 2em;
    justify-content: center;
}

.split > * {
    flex-basis: 30%;
    min-width: 15em;
}

/* any element that is adjacent sibling, ie after another sibling, direct child of spacing. good for uniform spacing */
.spacing > * + * {
    margin-top: var(--spacer, 2rem); 
    /* 2rem if spacer doesn't work */
}

.btn {
    display: inline-block;
    text-decoration: none;
    padding: .5em 1.25em;
    background-color: var(--clr-accent, blue);
    color: var(--clr-text, #fff);
    font-weight: 700;
    text-transform: uppercase;
    font-size: 1.125rem;
    border-radius: .25em;
    transition: transform 250ms ease-in-out;
  
}

.btn:hover,
.btn:focus {
    transform: scale(1.1);
    opacity: .9;
}

.first-title {
    font-size: 4rem;
    font-size: clamp(3rem, calc(5vw + 1rem), 4.5rem);
    line-height: 1;
    text-transform: uppercase;
    text-decoration: solid;
    color: rgb(255, 254, 254);
}

.first-para {
    color: rgb(255, 254, 254);
}


.section-title {
    text-align: center;
    font-size: clamp(2.5rem, calc(5vw + 1rem), 4rem);
    line-height: 1;
    color: rgb(17, 29, 70);
    margin-bottom: 5rem;
}

.header {
    text-align: center;
    padding: 15em 0;
    background-image: url(/img/shoe-7.jpg);
    background-color: rgb(160, 156, 156);
    background-blend-mode: multiply;
    background-attachment: fixed;
    background-repeat: no-repeat;
    
}

/* @supports (property: value) {
    .class {
    }
   }
   test if the browser supports a particular property or property:value combination */

    /* @supports (background-blend-mode: multiply) {
        .header {
            background-image: url(/img/shoe-7.jpg);   
            background-blend-mode: multiply;
        }
       } */

/* @supports (background-blend-mode: multiply) {
  .header {
    background: url(../img/shoe-3.png), radial-gradient(#444, #111);
    background-blend-mode: multiply;
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-position: center center;
  }
} */
       
.featured {
    background: rgba(151, 171, 179, 0.6);
    
}

.featured-item {
    color: rgb(0, 0, 0);
    display: block;
    position: relative;
    -webkit-transform: scale(0.85);
    transform: scale(0.85);
    -webkit-transition: -webkit-transform 250ms ease-in-out;
    transition: -webkit-transform 250ms ease-in-out;
    transition: transform 250ms ease-in-out;
    transition: transform 250ms ease-in-out, -webkit-transform 250ms ease-in-out;
    text-align: center;
    line-height: 1.2;
    text-decoration: none;
} 

.featured-item:hover, .featured-item:focus {
    -webkit-transform: scale(1);
            transform: scale(1);
}

.featured-item::after {
    content: '';
    position: absolute;
    top: 10%;
    left: 10%;
    padding: 75% 75% 0 0;
    border-radius: 50%;
    background: #2193b0;
    z-index: -1;
  }

.featured__details {
    opacity: 0;
    -webkit-transition: opacity 250ms linear;
    transition: opacity 250ms linear;
}

.featured-details span {
    display: block;
    font-weight: 700;
    font-size: 2.5rem;
    line-height: 3;
}

.featured__item:hover .featured__details, .featured__item:focus .featured__details {
    opacity: 1;
    text-shadow: 0 0 2em white;
  }

.product {
    /* background:  radial-gradient(var(--clr-inner, limegreen), var(--clr-outer, purple)); */
    padding: 3em;
    border-radius: 3em;
    margin-bottom: 3em;
    text-align: center;
  }

.product-title {
    font-size: 4em;
    line-height: 1.1;
    color: #fff;
    text-shadow: 0 0 .8em rgba(#000, .2);
  }

.product-image {
    margin: -5em 0 0 0;
}

.shoe-red {
  background: radial-gradient(#faa700, #ee8207);
    --clr-accent: limegreen;
}

.shoe-blue {
    background: radial-gradient(rgb(47, 42, 68), #2193b0);
    --clr-accent: rgb(240, 17, 17);
}

.shoe-lightblue {
    background: radial-gradient( rgb(196, 196, 240), skyblue); 
    --clr-accent: rgb(77, 224, 77);
} 

@media (min-width: 45em) {
   .product-image {
    float: right;
    width: 50%;
   }
}

.product-description {
    color: #fff;
    font-weight: 400;
}